<div id="">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="">Личный кабинет</h3>
        </div>
    </div>
</div>

<div class="container">
    <!-- <h4 class="text-center">Личный кабинет</h4> -->
    <div class="px-3 ">
        <i  (click)="activePage('profile')" [ngClass]="{color: page === 'profile' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'profile']">perm_identity</i>
        <i (click)="activePage('posts')" [ngClass]="{color: page === 'posts' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'posts']">post_add</i>
        <i (click)="activePage('blog')" [ngClass]="{color: page === 'blog' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'blog']">create</i>
        <i (click)="activePage('people')" [ngClass]="{color: page === 'people' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'people']">people</i>
        <i (click)="activePage('messages')" [ngClass]="{color: page === 'messages' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'messages']">local_post_office</i>
        <i (click)="activePage('subscribes')" [ngClass]="{color: page === 'subscribes' ? true : false}" class="div-icon material-icons m-3" [routerLink]="['/Cabinet', 'subscribes']">event_available</i>
    </div>
    <div [ngSwitch]="page">
           

        <div *ngSwitchCase = "'blog'">
            <app-blog-admin ></app-blog-admin>

        </div>
        <div *ngSwitchCase = "'posts'">
            <app-add-article ></app-add-article>

        </div>
        <div *ngSwitchCase = "'people'">
            <app-users></app-users>

        </div>
        <div *ngSwitchCase = "'messages'">
            Сообщения

        </div>
        <div *ngSwitchCase = "'profile'">
            <app-profile></app-profile>

        </div>
        <div *ngSwitchCase="'subscribes'">
            <app-subscribe></app-subscribe>
        </div>
    </div>

</div>
