<div style="text-align:center">
    <h1>
        Ngx-Webcam Demo
    </h1>

    <div>
        <webcam [height]="500"
        [width]="500"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)">
        </webcam>
        <br />
        <button class="btn bg-info2 m-2" (click)="triggerSnapshot();">Скриншот</button>
        <button class="btn bg-info2 m-2 " (click)="toggleWebcam();">Выключить камеру</button>
        <br />
        <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next
            Webcam</button>
        <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label
            for="cameraSwitchCheckbox">Allow Camera Switch</label>
        <br />
        DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
        <button (click)="showNextWebcam(deviceId);">Activate</button>
    </div>
    <div class="snapshot" *ngIf="webcamImage">
        <h2>Есть фотка!</h2>
        <img [src]="webcamImage.imageAsDataUrl" />
    </div>
</div>



<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>
