<p><b>АВТОРИЗАЦИЯ</b></p>

<div *ngIf="auth">{{ username }}
<span (click) = logout()>Выйти</span>
</div>
<div *ngIf="!auth">
<div class="text-center">
    <button class="btn btn-success m-3 m-3" (click)="setView('enter')" > Войти</button>
    <button class="btn btn-success" (click)="setView('reg')" > Регистрация</button>
</div>

<div [ngSwitch]="view">

    <div *ngSwitchCase="'enter'">
            <div class="container">
                    <div class="row">
                   
                    <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal">
                    <span class="heading"><b>Войти</b></span>
                    <div class="m-2" >
                        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="E-mail">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="m-2">
                        <input type="password" [(ngModel)]="password" name = "password" class="form-control" id="inputPassword" placeholder="Password">
                        <i class="fa fa-lock"></i>
                        <span *ngIf="errorText" class="color-red">{{errorText}}</span>
                    <a href="#" class="fa fa-question-circle"></a>
                    </div>

                    <div class="form-group">
                    <div class="main-checkbox">
                    <input type="checkbox" value="none" id="checkbox1" name="check"/>
                    <label for="checkbox1"></label><span class="text">Запомнить</span>
                    </div>
                    
                    <button type="submit" (click)="login()"  class="btn btn-default">ВХОД</button>
                    </div>
                    </form>
                    
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
    </div>
    <div *ngSwitchCase="'reg'">
        <div class="container">
            <div class="row">
           
            <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" >
            <span class="heading"><b>Регистрация</b></span>

            <div class="m-2" >
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="inputEmail" placeholder="Введите username">
                <i class="fa fa-user"></i>
            </div>

            <div class="m-2" >
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="Введите E-mail">
                <i class="fa fa-user"></i>
            </div>
            <div class="m-2">
                <input type="password" [(ngModel)]="password" name = "password" class="form-control" id="inputPassword" placeholder="Введите пароль">
                <i class="fa fa-lock"></i>
            <a href="#" class="fa fa-question-circle"></a>
            </div>
            <div class="m-2">
                    <input type="password" [(ngModel)]="password2" name = "password_confirmation" class="form-control" id="inputPassword2" placeholder="Повторите пароль">
                    <i class="fa fa-lock"></i>
                <a href="#" class="fa fa-question-circle"></a>
                </div>
            
            <div class="form-group">
            <div *ngIf="errorText" class="color-red">{{ errorText }}</div>
            <div class="main-checkbox">
            </div>
            
            <button type="submit" (click)="register()"  class="btn btn-default">Зарегистрироваться</button>
            </div>
            </form>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div>
</div>
</div>

