<div class="container">
    <div class="card p-2 m-3">
        <div class="text-center"><h4>Информация</h4></div>
        <p> Сервис услуг позволяет находить контакты мастеров, предоставляющих различные услуги.
            В административной панели авторизованного пользователя есть возможность добавления, 
            редактирования услуги.
            Информация добавляется в свободной форме и несёт информативный характер. 
            Информация обновляется и актуализируется по усмотрению мастера.
        </p>
        <p> Для добавления услуги или отклика на интересующую услугу - необходимо авторизоваться.</p>
    </div>
</div>

