

.deleteButton {
    text-align: right;
    
}
.material-icons:hover {
    cursor: pointer;
    font-size: 24px;
}

.material-icons.color{
    color: darkred;
}

.myResp {
    background-color: rgb(201, 215, 241);
}

a {
    color: #000;
}