

.deleteButton {
    text-align: right;
    
}
.material-icons:hover {
    cursor: pointer;
    font-size: 24px;
}

.material-icons.color{
    color: darkred;
}

.myResp {
    background-color: rgb(204, 216, 238);
}

a {
    color: #17a2b8;
}
a:hover {
    cursor: pointer;
    color: #97e4f0;
}