
<div class="container ">
    <button [routerLink]="['/']" class="btn bg-info">Назад</button>
    <div class=" p-3 card">
        <div class="">
            <div class="">
            <small class="mx-1">создатель: {{detail?.author}}</small>
            <small class="mx-1">Категория: {{detail?.category_name}}</small>
                <h4 class="card-title">{{detail?.title}}</h4>
                <div class="secondary-content">свободен</div>
            </div>
            
            <p>{{detail?.body}}</p>
            <div *ngIf="isAuth"> 
                <div class="card-action2">
                    <input type="button"
                    class="btn btn-outline-primary m-1 bg-info"
                    (click)="deal = true"
                    value="Откликнуться"
                    [disabled]="disabled">
                </div>
                
                <form *ngIf="deal" [formGroup]="formDeal" (ngSubmit)="toDeal()">
                    <div class="input-field">
                        <input type="text" formControlName="text">
                    </div>
                    <input type="submit" class="btn bg-info" [disabled]="formDeal.invalid" value="Отправить">
                    <input type="button" class="btn m-2 red" (click)="deal = false; formDeal.reset()" value="Закрыть">
                </form>
                <div *ngIf="response">
                    <span class="color-green">Отправлено!</span>
                </div>
            </div>
          

        </div>
        
    </div>
    <div *ngIf="myResponses.length > 0">
        <div *ngFor="let resp of myResponses" class="card p-3">
            
            <div class="">{{resp?.text}} <i class="material-icons right color" (click)="destroyResponse(resp.id)"> delete</i> </div>
            <hr>
            <small>создан: {{resp.created_at}}</small>
        </div>
    </div> 
</div>