<div class="container ">

    <i  class="material-icons color-info"
        [routerLink]="['/']"
    >
        keyboard_backspace
        </i>
    <!-- <input type="button" [routerLink]="['/']" class=" m-1  waves-effect waves-teal btn-flat" value="назад"> -->

    <div class=" p-3 card">
        
        <div >
            <h4>{{usluga?.title}}</h4>
            <p>{{usluga?.body}}</p>
            <input type="button" class="btn btn-outline-primary m-1 right color-info" value="Написать автору">
        </div>
        
    </div>
    <div *ngIf="comments" class="row card p-3">
        <p>{{comments}}</p>
    </div>
</div>