<div id="nav-trigger" class="nav-trigger open" (click)="navToggle()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
  <nav id="nav" class="out">
    <ul>
      <li (click)="navToggle()"><span class="nav-label"><a  href="#">Home</a></span></li>
      <li (click)="navToggle()"><span class="nav-label"><a  href="#">About</a></span></li>
      <li (click)="navToggle()"><span class="nav-label"><a  href="#">Work</a></span></li>
      <li (click)="navToggle()"><span class="nav-label"><a  href="#">Blog</a></span></li>
      <li (click)="navToggle()"><span class="nav-label"><a  href="#">Contact</a></span></li>
    </ul>
  </nav>
