
<!-- тут описание формы обратной связи -->
<div class="container text-center" >
    <div class="shadow rounded p-3 m-3 ">
        <p>Все вопросы и пожелания пишите на <a href="mailto:askildar@yandex.ru">askildar@yandex.ru</a></p>
    </div>    
</div>

<!-- <p>Предложения, пожелания и замечания можете отправить нам заполнив ниже форму.</p>


<form  [formGroup]="addAppealForm" (ngSubmit)="addAppeal()" >
    <div class="input-field">     
        <input type="text"  formControlName="username" [(ngModel)]="username" formControlName="username" id="username">
        <label for="username">Введите Ваше имя</label>
    </div>

   <div class="input-field">     
        <input type="text" class="form-control m-1" [(ngModel)]="title" formControlName="title" id="title2" name="title2">
        <label for="title2">Введите тему обращения</label>
   </div>

    <div class="input-field">
        <textarea type="text" class="form-control m-1" [(ngModel)]="body" formControlName="body"></textarea>
    </div>

    <input type="button" value="Очистить" class="btn btn-danger m-1" (click)="clearFormAll(addAppealForm)" >
    <input type="submit" value="Добавить" class="btn btn-success m-1" [disabled]="addAppealForm.invalid" >
</form> -->


