h3 {
    text-align: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

.validation {
    color: red;
    text-align: left;
}

.input-field > input  {
    box-sizing: inherit;
}