<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
  </h1>
</div>

<div class="wrapper">
<router-outlet></router-outlet>
</div>

<div class="container footer">
  <div class="row div-center">
    <div class="col-4 ">
      <button class="btn btn-secondary">Tab1</button>
    </div>
    <div class="col-4">
       <button class="btn btn-secondary">Tab2</button>
    </div>
    <div class="col-4">
       <button class="btn btn-secondary">Tab3</button>
    </div>
  </div>
</div>
