
<!-- шапка  -->
<header>

  <div class="col-9 float-right today">

      <span ><b>{{ today | titlecase}}</b></span>
      <div *ngIf="!auth">
        <a  [routerLink]="['./Admin']" ><button class="btn" >Войти</button></a>
      </div>
      <div *ngIf="auth">
        <div class="username">
          <button class="m-1 btn btn-primary"  (click)="Cabinet()" [routerLink]="['./Admin/Lk']">Личный кабинет</button>
          <button class="m-1 btn btn-light" (click)="logout()"> Выйти</button>
        </div>
        
      </div>
      
  </div>
 
</header>

<app-menu></app-menu>
<hr>
<!-- если пятница -->
<div *ngIf="isTodayFriday()" class="rounded shadow m-3 p-3">
  <router-outlet></router-outlet>
</div>


<!-- если не пятница -->
<div *ngIf="!isTodayFriday()">
  <app-notfriday></app-notfriday>
</div>



