.div-center {
    margin: auto;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    .wrapper {
    margin: 0 0 100px 0;
    }
    .footer {
    height: 100px;
    position: absolute;
    bottom: 0;
    }

    .username {
        font-size: 12px;
    }