input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

.validation {
    color: red;
    text-align: left;
}

.container {
    width: 100%;
}

input {
    width: 100% !important;
}