
<ul class="collection">
    <li class="collection-item avatar" [routerLink]="['/Admin', 'Users']">
        <i class="material-icons circle light-blue">person_outline</i>
      <span class="title">Список пользователей</span>
      <p>новых: <b>3</b><br>
         общее число: <b>21</b>
      </p>
    </li>
    <li class="collection-item avatar" [routerLink]="['/Admin', 'Services']">
      <i class="material-icons circle light-green">folder</i>
      <span class="title">Список услуг</span>
      <p>новых: <br>
        общее число:
     </p>
    </li>
    <li class="collection-item avatar" [routerLink]="['/Admin', 'Categories']">
      <i class="material-icons circle red">insert_chart</i>
      <span class="title">Список категорий</span>
      <p>новых: <br>
        общее число:
     </p>
    </li>
    <li class="collection-item avatar" [routerLink]="['/Admin']">
      <i class="material-icons circle bg-info">play_arrow</i>
      <span class="title">Список отзывов обратной связи</span>
      <p>новых: <br>
        общее число:
     </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
 

           