.material-icons.color {
    color: red;
}


.reload {
    color: green;
}

.material-icons:hover {
    cursor: pointer;
}

.material-icons.darkred{
    color: darkred;
}

.img{
    float: left;
}

.example-card {
    max-width: 400px;
  }

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;

    .matSpinner{
        color: var(--bg-info2);
    }

}

.mat-spinner::ng-deep circle{
stroke:  var(--bg-info2) !important;
}