    <h3>Раздел постов</h3>
    <div>
        <input type="button" (click)="addFormActive(true)" value="Добавить объявление" class="btn m-1 bg-info2 " >
        <input type="button" (click)="getPosts()"  value="Список всех объявлений" class="btn m-1 bg-info2 " >
   </div>
<!-- форма добавления поста -->
    <form *ngIf="addFormFlag" [formGroup]="addForm" (ngSubmit)="addPost()">
        <h5 class="text-center">Добавить услугу</h5>
        <mat-form-field class="full-width m-1">
            <mat-label class="mat-label ">Город </mat-label>
            <mat-select disabled [(value)]="location"  formControlName="city_id" >
                <mat-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width m-1">
            <mat-label class="mat-label ">Категория</mat-label>
            <mat-select formControlName="category_id" >
                <mat-option value="">Не выбрано</mat-option>
                <mat-option *ngFor="let categ of categories;" [value]="categ.id">
                    {{ categ.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width m-1">
            <mat-label class="mat-label ">Тип </mat-label>
            <mat-select formControlName="type">
                <mat-option value="">Не выбрано</mat-option>
                <mat-option *ngFor="let types of postType" [value]="types.id">{{types.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="input-field">
            <input type="text" class="form-control m-1"  formControlName="title" id="title">
            <label for="title">Введите название</label>
        </div>
        <div><textarea type="text" class="form-control m-1"  formControlName="body"></textarea></div>

        <div class="img-field">
            <input type="file" class=" m-1"  formControlName="image" id="image"
            (change)="handleFileInput($event)"
            multiple
            accept=".jpg, .jpeg, .png">

            <div>
                <img *ngFor="let url of imgUrls" [src]="url" class="rounded mb-3" width="180">
            </div>
        </div>

        <div class=" m-2 p-3">
            Активность
            <mat-slide-toggle
                [(ngModel)] = "checked"
                color="primary"
                formControlName="active"
                class="mx-5">

            </mat-slide-toggle>
          </div>


        <input type="button" value="Очистить" class="btn btn-danger m-1 bg-info2 grey" (click)="this.addForm.reset();clear()">
        <input type="submit" value="Добавить" class="btn btn-success m-1 bg-info2" [disabled]="disabled" >
        <!-- [disabled]="addForm.invalid" -->
        <input type="button" value="Отмена" class="btn btn-danger m-1 bg-info2 red" (click)="addFormActive(false)">
    </form>

    <div *ngIf="success" class="text-center">
        <span class="color-green">Услугуа добавлена!</span>
    </div>
<!-- //форма добавления поста  -->


<!-- вывод постов -->
<div *ngIf="posts?.length !== 0; else noPosts">
    <div *ngIf="detail === true">
        <router-outlet></router-outlet>
    </div>

    <div *ngIf="detail !== true">
        <div *ngFor="let post of posts" class="card m-2 p-3" (click)="editPost(post.id)" >
            <div  >
                <picture *ngIf="post.img_url">
                <source media='(min-width:0px)' srcset="{{post.img_url}}">
                <img mat-card-image src="" alt="Photo of a Post" width="200" height="200">
                </picture>
                <div>{{post.title}}</div>
                <div>{{post.body}}</div>

            </div>
            <div>
                <hr>
                <small class="mx-2">{{post.updated_at | date: 'longDate'}}</small> |
                <small class="mx-2">Категория: {{post.category_name }}</small>|
                <small class="mx-2">Активность: {{post.active=== 1 ? 'Да' : 'Нет'}}</small>|
                <small><i class="material-icons right darkred" (click)="delete(post.id)" >delete</i></small>

            </div>
        </div>
    </div>
</div>
<!--/ вывод постов -->


<ng-template #loading>
    <div class="container text-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #noPosts>
    <div class="container text-center">
        <span>У Вас пока нет постов</span>
    </div>
</ng-template>

 <!--SPINNER-->
 <span class="spinner" aria-hidden="true">
    <mat-spinner  *ngIf="showSpinner" [diameter]="40"></mat-spinner>
  </span>
