
    
    <form *ngIf="!success" [formGroup]="addForm" (ngSubmit)="addArticle()">
        <h5 class="text-center">Добавить статью</h5>
        

        <div class="input-field">
            <input type="text" class="form-control m-1"  formControlName="title" id="title">
            <label for="title">Введите название</label>
        </div>
        <div class="content m-2 p-2">
            <label>Контент поста</label>

            <quill-editor class="q-editor" formControlName="body"></quill-editor>
        </div>

        <div class="m-2 p-3">
            Активность
            <mat-slide-toggle
                [(ngModel)] = "checked"
                color="primary"
                formControlName="active"
                class="mx-5">
             
            </mat-slide-toggle>
        </div>


        <input type="button" value="Очистить" class="btn btn-danger m-1 bg-info red" (click)="this.addForm.reset();">
        <input type="submit" value="Добавить" class="btn btn-success m-1 bg-info" [disabled]="addForm.invalid">
    </form>

    <div *ngIf="success" class="text-center">
        <span class="color-green">Статья добавлена!</span>
        <input type="button"  value="Добавить ещё" class="btn m-3 bg-info">
    </div>