<div class="text-center">
    <h4>Мои подписки</h4>
    <p class="p-2 m-2">В случае добавления подписок  будут приходить уведомления на Ваш email о новых событиях выбранной Вами категории</p>
</div>

<div class="">
    <div class="p-2 rounded shadow">
        <div >
            <i  class="mx-2 material-icons">add</i>
            <i  class="mx-2 material-icons">refresh</i>
        </div>
        <div class="main">
            <form [formGroup]="subscribeForm" (ngSubmit) = saveForm()>
                <div  *ngFor="let field of formData.controls; let i=index" >
                    <mat-form-field class="full-width m-1">
                        <mat-label class="mat-label ">Категория</mat-label>
                        <mat-select [formControl]="field.get('category_id')">
                            <mat-option value="">Не выбрано</mat-option>
                            <mat-option *ngFor="let categ of categories;" [value]="categ.id">
                                {{ categ.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width m-1">
                        <mat-label class="mat-label ">Город</mat-label>
                        <mat-select [formControl]="field.get('city_id')">
                            
                            <mat-option value="">Не выбрано</mat-option>
                            <mat-option *ngFor="let city of cities;" [value]="city.id">
                                {{ city.name }}</mat-option>
                            <!-- <mat-option value="1">Аскарово</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width m-1">
                        <mat-label class="mat-label ">Тип </mat-label>
                        <mat-select [formControl]="field.get('type')">
                            <mat-option value="">Не выбрано</mat-option>
                            <mat-option value="needmaster">Ищу исполнителя</mat-option>
                            <mat-option value="usluga">Ищу заказ</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <input class=" m-1 btn bg-danger btn-primary " type="button" value="Удалить" (click)="destroy(i)" >
                </div>
                    <input class=" m-1 btn btn-primary bg-info"
                    type="button" 
                    value="Добавить" 
                    (click)="add()"
                    [disabled] = "!subscribeForm.valid"
                    >
                    <input *ngIf="formData.controls.length > 0" class=" m-1 btn btn-primary bg-info" 
                        type="submit"
                        value="Сохранить"
                        [disabled] = "!subscribeForm.valid"
                        
                        >
            </form>
           
        </div>
    </div>
    
</div>
<div *ngIf="success" class="text-center">
    <span class="color-green">{{message}}</span>
</div>