.material-icons:hover {
    cursor: pointer;
}

.main {
    margin: auto;
    form { margin: auto; }
}

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;

    .matSpinner{
        color: var(--bg-info);
    }

}

.mat-spinner::ng-deep circle{
stroke:  var(--bg-info) !important;
}