/* You can add global styles to this file, and also import other style files */


 body {
    position: relative;
    padding-bottom: 58px;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 58px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
