<div class="container">
    <div class="p-2">
        <img src="{{user?.ava_url}}">
        <div>Имя: {{user?.first_name}}</div> 
        <div>Фамилия: {{user?.last_name}}</div>
        <div>Роль: {{user?.type}}</div>
        <div>Зарегистрирован: {{user?.created_at | date: 'longDate' }}</div>
    </div>

    <form [formGroup]="addForm" (ngSubmit)="uploadFileToActivity()">
        <div class="img-field">
            <input type="file" class=" m-1"  formControlName="image" id="image"
            (change)="handleFileInput($event)"
            multiple 
            accept=".jpg, .jpeg, .png">
            
            <div>
                <img *ngFor="let url of imgUrls" [src]="url" class="rounded mb-3" width="180">
            </div>
        </div>
        <input *ngIf="imgUrls.length > 0" type="submit" value="Сохранить">
    </form>
</div>
