<div class="container">
    <div class="p-2">
        <img src="{{user.ava_url}}">
        <div>Имя: {{user.first_name}}</div> 
        <div>Фамилия: {{user?.last_name}}</div>
        <div>Роль: {{user?.type}}</div>
        <div>Зарегистрирован: {{user?.created_at | date: 'longDate' }}</div>
    </div>

    <div class="form-group">
        <label for="file">Сменить аватар</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
    </div>
</div>
